<!DOCTYPE html>
<html>
<head>
  <title>Asteroid(js)</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header class="page-header">
    <div class="header-text">Asteroid(js)</div>
  </header>
	<ul class="instructions">
		<li class="title">INSTRUCTIONS</li>
		<li>Spacebar - Propel the ship towards the crosshair</li>
		<li>Left Click - Shoot towards the crosshair</li>
		<li>p - Pause</li>
	</ul>
<%= yield %>
	<ul class="highscores">
		<li class="title">HIGH SCORES</li>
	</ul>
</body>
</html>
